SB20-Dashboard.json
[{"id":"1e06ba73.df27d6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"da019553.c51248","type":"ui_gauge","z":"1e06ba73.df27d6","name":"Gas Level","group":"831b475.ea1aab8","order":1,"width":6,"height":4,"gtype":"gage","title":" Fuel Level","label":"Litros","format":"{{value}}","min":0,"max":10,"colors":["#26a4ca","#f7da5f","#f12f45"],"seg1":"","seg2":"","x":860,"y":320,"wires":[]},{"id":"1781810d.ac42df","type":"ui_gauge","z":"1e06ba73.df27d6","name":"Speedometer","group":"b4566304.99ef5","order":1,"width":6,"height":4,"gtype":"gage","title":"Speedometer","label":"KM/H","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":280,"wires":[]},{"id":"b0f6acb.9951d5","type":"ui_gauge","z":"1e06ba73.df27d6","name":"CVT","group":"bf324b30.881188","order":1,"width":6,"height":4,"gtype":"gage","title":" Temperature - CVT","label":"°C","format":"{{value}}","min":0,"max":"200","colors":["#26a4ca","#f7da5f","#f12f45"],"seg1":"","seg2":"","x":850,"y":200,"wires":[]},{"id":"35f62cc.f609cd4","type":"ui_text","z":"1e06ba73.df27d6","group":"c383ad64.cfa26","order":1,"width":4,"height":1,"name":"Indutivo","label":"Sensor Indutivo ","format":"{{msg.payload}}","layout":"row-left","x":1160,"y":520,"wires":[]},{"id":"1430fdda.08f092","type":"ui_text","z":"1e06ba73.df27d6","group":"c383ad64.cfa26","order":3,"width":4,"height":1,"name":"GPS","label":"GPS","format":"{{msg.payload}}","layout":"row-left","x":1170,"y":560,"wires":[]},{"id":"13d705ed.c10ffa","type":"ui_text","z":"1e06ba73.df27d6","group":"c383ad64.cfa26","order":5,"width":4,"height":1,"name":"Sensor de Corrente","label":"Sensor de Corrente","format":"{{msg.payload}}","layout":"row-left","x":1130,"y":600,"wires":[]},{"id":"43b793df.0b0e0c","type":"ui_text","z":"1e06ba73.df27d6","group":"c383ad64.cfa26","order":7,"width":4,"height":1,"name":"Sensor de Temperatura","label":"Sensor de Temperatura","format":"{{msg.payload}}","layout":"row-left","x":1110,"y":640,"wires":[]},{"id":"6014362b.3de5c8","type":"ui_text","z":"1e06ba73.df27d6","group":"c383ad64.cfa26","order":9,"width":4,"height":1,"name":"Sensor Capacitivo","label":"Sensor Capacitivo","format":"{{msg.payload}}","layout":"row-left","x":1130,"y":680,"wires":[]},{"id":"f64dc81b.05dd08","type":"ui_text","z":"1e06ba73.df27d6","group":"c383ad64.cfa26","order":11,"width":4,"height":1,"name":"","label":"MPU-6050","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":720,"wires":[]},{"id":"874e1c2f.f6116","type":"ui_gauge","z":"1e06ba73.df27d6","name":"Braking Light","group":"93479a7c.ee2898","order":2,"width":6,"height":4,"gtype":"wave","title":"Braking Light","label":"","format":"{{value}}","min":0,"max":"100000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":240,"wires":[]},{"id":"91519ac9.e91fb8","type":"ui_template","z":"1e06ba73.df27d6","group":"","name":"Background ","order":0,"width":"3","height":"3","format":"<style>\n    body {\n        background-image: url(\"/image/Fundo 2.jpg\");\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":1130,"y":100,"wires":[[]]},{"id":"4b2533a2.1a320c","type":"ui_media","z":"1e06ba73.df27d6","group":"cef84d8b.69c7f","name":"","width":"6","height":"6","order":1,"category":"GPS","file":"Baja.jpg","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1130,"y":60,"wires":[[]]},{"id":"373f5492.59b37c","type":"ui_led","z":"1e06ba73.df27d6","order":4,"group":"c383ad64.cfa26","width":2,"height":1,"label":"GPS","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"},{"color":"#ff0000","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"GPS","x":770,"y":520,"wires":[]},{"id":"3de9fdc6.e81d02","type":"ui_led","z":"1e06ba73.df27d6","order":6,"group":"c383ad64.cfa26","width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"},{"color":"#ff0000","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"CVT TEMPERATURE","x":820,"y":560,"wires":[]},{"id":"b8e2cc07.801e7","type":"ui_led","z":"1e06ba73.df27d6","order":12,"group":"c383ad64.cfa26","width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"},{"color":"#ff0000","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SPEEDOMETER","x":810,"y":600,"wires":[]},{"id":"dae52aa6.5d3d48","type":"ui_led","z":"1e06ba73.df27d6","order":10,"group":"c383ad64.cfa26","width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"},{"color":"#ff0000","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"CURRENT SENSOR","x":820,"y":640,"wires":[]},{"id":"2509599e.ca61d6","type":"ui_led","z":"1e06ba73.df27d6","order":8,"group":"c383ad64.cfa26","width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"},{"color":"#ff0000","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"ACCELOREMETER","x":820,"y":680,"wires":[]},{"id":"c7f5f270.6c077","type":"ui_led","z":"1e06ba73.df27d6","order":2,"group":"c383ad64.cfa26","width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"},{"color":"#ff0000","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"GAS LEVEL","x":790,"y":720,"wires":[]},{"id":"e05674f2.86c738","type":"serial in","z":"1e06ba73.df27d6","name":"","serial":"e71d3868.22eed8","x":110,"y":400,"wires":[["b790708c.15171"]]},{"id":"b790708c.15171","type":"json","z":"1e06ba73.df27d6","name":"","property":"payload","action":"","pretty":false,"x":310,"y":400,"wires":[["ca015c1e.0d833","5aabb9c8.45c008","24314b6a.139c94","d5b9ca36.ff9c78","fcb2eb87.d63318","7038b2b2.f6d6bc"]]},{"id":"ca015c1e.0d833","type":"function","z":"1e06ba73.df27d6","name":"CVT TEMPERATURE","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":300,"wires":[["b0f6acb.9951d5","3de9fdc6.e81d02"]]},{"id":"5aabb9c8.45c008","type":"function","z":"1e06ba73.df27d6","name":"ACCELEROMETER","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":340,"wires":[["2509599e.ca61d6"]]},{"id":"24314b6a.139c94","type":"function","z":"1e06ba73.df27d6","name":"CURRENT SENSOR","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":380,"wires":[["874e1c2f.f6116","dae52aa6.5d3d48"]]},{"id":"d5b9ca36.ff9c78","type":"function","z":"1e06ba73.df27d6","name":"GPS","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":420,"wires":[["373f5492.59b37c"]]},{"id":"fcb2eb87.d63318","type":"function","z":"1e06ba73.df27d6","name":"SPEEDOMETER","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":460,"wires":[["1781810d.ac42df","b8e2cc07.801e7"]]},{"id":"7038b2b2.f6d6bc","type":"function","z":"1e06ba73.df27d6","name":"GAS LEVEL","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":500,"wires":[["da019553.c51248","c7f5f270.6c077"]]},{"id":"831b475.ea1aab8","type":"ui_group","name":"Nível de Combustível","tab":"dbceccb0.3b054","order":2,"disp":false,"width":"6","collapse":false},{"id":"b4566304.99ef5","type":"ui_group","name":"Velocidade","tab":"dbceccb0.3b054","order":1,"disp":false,"width":"6","collapse":false},{"id":"bf324b30.881188","type":"ui_group","name":"Nível de Temperatura","tab":"dbceccb0.3b054","order":5,"disp":false,"width":6,"collapse":false},{"id":"c383ad64.cfa26","type":"ui_group","name":"Status de Funcionamento ","tab":"dbceccb0.3b054","order":7,"disp":false,"width":6,"collapse":false},{"id":"93479a7c.ee2898","type":"ui_group","name":"Contador de Freio","tab":"dbceccb0.3b054","order":4,"disp":false,"width":12,"collapse":false},{"id":"cef84d8b.69c7f","type":"ui_group","name":"Posição - GPS","tab":"dbceccb0.3b054","order":6,"disp":false,"width":"6","collapse":false},{"id":"e71d3868.22eed8","type":"serial-port","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dbceccb0.3b054","type":"ui_tab","name":" Control Panel - Prototype SB-20","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
